body {
    background: url(images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #8ae86be6;
    border-radius: 8px 8px 8px 8px;
}

#top_menu {
    display: inline;
    position: relative;
    top: -50px;
}

h1 {
    display: inline;
    margin: 17px 20px;
    font-size: 20px;
    font-family: 'Georgia';
    font-style: italic;
}

ul li {
    display: inline;
    margin: 17px 20px;
    font-size: 20px;
    font-family: 'Georgia';
    font-style: italic;
}

ul li a {
    line-height: normal;
    color: #241004;
    text-decoration: none;
}

.logo {
    margin: 6px auto 2px 6px;
    box-shadow: 0 0 7px #666;
    border-radius: 5px;
}